@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0px;
    margin: 10px;
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
    font-size: 48px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 149, 0);
}

.text {
    font-size: 20px;
}

.bigText {
    font-size: 48px;
}

.var {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 3px solid black;
}

.variants {
    display: flex;
    justify-content: space-evenly;
}

input::placeholder {
    font-size: 40px;
    padding: 10px 0px 0px 10px;
}

input {
    width: 98%;
    min-height: 50px;
    border-radius: 25px;
}

textarea::placeholder {
    font-size: 40px;
    padding: 10px 0px 0px 10px;
}

textarea {
    width: 98%;
    min-height: 50px;
    border-radius: 25px;
}
.all{
    max-width: 95%;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-top: 5px;
    justify-content: center;
}
.start{
    text-align: center;
}