*{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.card{
    width: 20%;
    margin: 3%;
    border-radius: 3%;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}
#heroesContainer{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}
.container{
    padding: 5%;
    max-width: 80%;
}