@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0px;
    margin: 10px;
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat';
    font-size: 48px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 202, 127);
}

.text {
    font-size: 20px;
}

.bigText {
    font-size: 48px;
}

.var {
    padding: 15px 0px;
    max-width: 98%;
    border-radius: 6px;
    border: 3px solid rgba(0, 0, 0, 0.215);
    text-align: center;
}

.variants {
    display: flex;
    justify-content: space-evenly;
}

input::placeholder {
    font-size: 40px;
    padding-top: 10px;
}

input {
    width: 97%;
    min-height: 50px;
    border-radius: 25px;
    padding-left: 15px;
}

textarea::placeholder {
    font-size: 40px;
    padding-top: 10px;
}

textarea {
    width: 97%;
    border-radius: 25px;
    min-height: 50vh;
    resize: vertical;
    padding-left: 15px;
}

.all {
    width: 95%;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-top: 5px;
    justify-content: center;
}

.start {
    text-align: center;
    border: 3px solid black;
    background-color: rgb(190, 190, 190);
    border-radius: 25px;
}

.base {
    min-width: 90%;
}

.ques {
    text-align: center;
}

@media(max-width: 500px) {
    textarea::placeholder {
        font-size: 20px;
        padding: 5px 0px 0px 5px;
    }

    input::placeholder {
        font-size: 20px;
        padding: 5px 0px 0px 5px;
    }

    input {
        width: 89%;
        min-height: 30px;
        border-radius: 10px;
    }

    textarea {
        max-width: 89%;
        min-height: 30px;
        border-radius: 10px;
    }

    .bigText {
        font-size: 20px;
    }

    .text {
        font-size: 10px;
    }
}

@media(min-width: 501px) and (max-width: 768px) {
    textarea::placeholder {
        font-size: 25px;
        padding: 8px 0px 0px 8px;
    }

    input::placeholder {
        font-size: 25px;
        padding: 8px 0px 0px 8px;
    }

    input {
        width: 94%;
        min-height: 40px;
        border-radius: 15px;
    }

    textarea {
        max-width: 94%;
        min-height: 100px;
        border-radius: 15px;
    }

    .bigText {
        font-size: 25px;
    }

    .text {
        font-size: 15px;
    }
}